* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-parent {
    margin: 0 auto;
    padding: 70px 70px 70px 70px;
}

.main-child {
    text-align: center;
}

.mp-notes {
    padding-top: 300px;
    margin: 0 auto;
    width: 100%;
}

.mpc-notes {
    /* text-align: center; */
}

.mpsc {
    margin: 0 auto;
    padding: 70px 70px 70px 70px;
    padding-top: 600px;
}

.heading {
    margin-bottom: 30px;
}

form {
    padding-bottom: 10px;
}

form textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
}

.form-container {
    width: 800px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
}

input[type="text"] {
    height: 30px;
    width: 100%;
    border: gray 1px solid;
    border-radius: 2px;
    padding-left: 2px;
    box-sizing: border-box;
}

input[type="email"] {
    height: 30px;
    width: 100%;
    border: gray 1px solid;
    border-radius: 2px;
    padding-left: 2px;
    box-sizing: border-box;
}

input[type="password"] {
    height: 30px;
    width: 100%;
    border: gray 1px solid;
    border-radius: 2px;
    padding-left: 2px;
    box-sizing: border-box;
}

input[type="submit"] {
    height: 30px;
    width: 100%;
    border-radius: 2px;
    background-color: #0d4575;
    color: white;
    border-top: none;
    border-left: none;
    border-right: #116ebf 2px solid;
    border-bottom: #116ebf 2px solid;

}

input[type="number"] {
    height: 30px;
    width: 100%;
    border: gray 1px solid;
    border-radius: 2px;
    padding-left: 2px;
    box-sizing: border-box;
}

.normal {
    width: 50% !important;
}

.small { /* use for buttons */
    width: 25px !important; /* just enough for room for 1 tabler icon */
    padding: 2px;
    height: 30px;
    border: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.input-half {
    height: 30px;
    border: gray 1px solid;
    border-radius: 2px;
    padding-left: 2px;
    box-sizing: border-box;
    width: 49.7% !important;
    display: inline;
    margin-top: 5px;
}

input[type="tel"] {
    height: 30px;
    width: 100%;
    border: gray 1px solid;
    border-radius: 2px;
    padding-left: 2px;
    box-sizing: border-box;
}

.normal { /* Apply this class to text fields that you don't want to span across the whole container */
    width: 85% !important;
}

label {
    font-weight: bold;
}

select {
    width: 40%;
    height: 30px;
    padding-left: 4px;
}

.schedule-select {
    width: 100%;
    height: 25px;
}

.inline {
    display: inline;
}

.third {
    width: 263.5px !important;
    display: inline;
}

.halve {
    width: 397px !important;
    display: inline;
}

form label {
    float: left;
}

.field-wrapper {
    padding-bottom: 4px;
}

.field-wrapper:last-of-type {
    padding-bottom: 8px;
}

a {
    color: #0d4575;
}

.safe {
    color: green;
}

.danger {
    color: red;
}

.margin-top {
    margin-top: 10px;
}

.msg {
    margin-top: 10px;
}

.info {
    color: #0d4575;
}

button {
    background-color: lightgray;
    height: 35px;
    border-radius: 3px;
    border: none;
    padding: 3px 3px 3px 3px;
}

.btn-full {
    width: 100%;
}

.btn-danger {
    background-color: red;
    color: white;
}

.btn-info {
    background-color: #0d4575;
    color: white;
    border-left: none;
    border-right: #116ebf 2px solid;
    border-bottom: #116ebf 2px solid;
}

.btn-white {
    background-color: white;
    color: #555555;
}

.titlecard {
    width: 50%;
    background-color: lightgray;
    border-radius: 5px;
    margin: 80px 40px 40px 40px;
    border: #4c4d4c 1px solid;
}

.tc-notes {
    width: 50%;
    background-color: lightgray;
    border-radius: 5px;
    margin: 80px 40px 40px 40px;
    border: #4c4d4c 1px solid;
    padding-bottom: 0px;
    margin-bottom: 0px;
    float: left;
    display: inline;
}

.card-inner {
    padding: 30px 10px 30px 30px;
}

.tc-inverse {
    width: 45%;
    display: inline;
    float: right;
    padding-top: 40px;
}

.tci-inner {
    margin-top: 30px;
    margin-right: 30px;
}

.left-container {
    float: left;
    display: inline;
    width: 38%;
    margin-top: 30px;
}

.right-container {
    float: right;
    display: inline;
    width: 58%;
    margin-top: 30px;
}

.left-container-half {
    float: left;
    display: inline;
    width: 45%;
    margin-top: 30px;
}

.right-container-half {
    float: right;
    display: inline;
    width: 45%;
    margin-top: 30px;
}

.main-block {
    bottom: 0;
    display: block;
}

.t-wrapper-group {
    height: 283px;
    overflow-x: auto;
    overflow-y: scroll;
}

.t-wrapper {
    overflow-x: auto;
    overflow-y: scroll;
}

.ut-wrapper {
    overflow-x: auto;
    max-height: 400px;
}

table {
    background-color: lightgray;
    width: 100%;
    /* border: black 1px solid; */
    border-collapse: collapse; 
    text-align: center;
    color: black;
}

.highlight-row {
    background-color: yellow;
}

table tr {
    border-top: black 1px solid;
}

table .heavy {
    border: none;
    color: black;
    background-color: aliceblue;
    position: sticky;
    top: 0;
    z-index: 1;
}

tr, th, td {
    padding: 7px 7px 7px 7px;
}

td a {
    text-decoration: none;
}

td .underline {
    text-decoration: underline;
}

.schedule {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.newusers {
    margin-top: 30px;
}

/* Navigation */

nav {
    padding: 0;
    margin: 0;
    background-color: #0d4575;
    height: 38px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}

nav ul {
    margin-top: 8px;
    list-style-type: none;
    width: 100%;
}

.secondary {
    padding-right: 15px;
    float: right;
}

nav ul li:first-of-type {
    padding-left: 25px;
}

nav ul li {
    display: inline;
    padding-right: 10px;
    float: left;
}

nav ul li i {
    color: white;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.warning {
    color: orange;
}

.spacer {
    margin-bottom: 10px;
}

.schedule-select {
    margin-bottom: 10px;
    display: block;
}

.ss-wrapper {
    text-align: center;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    overflow-y: auto;
    background-color: #0000008a;
    padding-top: 0px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 8% 8% 8% 8%;
}
  
.modal .inner {
    background-color: #10181c;
    width: 80%;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 6px;
}
  
.modal .close {
    float: right;
    color: red !important;
    text-decoration: none;
}
  
.active {
    display: block;
}

.nunderline {
    text-decoration: none;
}

pre {
    white-space: pre-wrap;
}

.note {
    background-color: #0d4575;
    color: white;
    height: auto;
    width: 100%;
    box-shadow: 5px 5px 5px black;
    position: relative;
    border-radius: 5px;
}

.note a {
    color: white;
}

.note-inner {
    padding: 10px 10px 10px 10px;
    display: block;
    word-wrap: break-word;
}

.note-heading {
    text-align: center;
}

.note-content {
    padding: 5px 10px 10px 10px;
    display: none;
}

#show-less {
    display: none;
}

.note-background {
    background-color: #000000b9;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
    overflow-y: auto;
    position: absolute;
}

.absolute-wrapper {
    display: inline-block;
    width: 350px;
    margin: 50px 20px 20px 40px;
}

.note-selected {
    width: 600px !important; /* so a user can reselect the same dropdown without jQuery freaking out */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin: 0;
}

.note-option {
    display: none;
}

.note-alt-content {
    display: none;
}

@media screen and (max-width: 946px) {
    .form-container {
        width: 378px;
    }

    .partial {
        width: 32.5% !important;
    }

    .halve {
        width: 49% !important;
    }

    .main-parent {
        padding-top: 20px;
    }
}

@media screen and (max-width: 864px) {
    .left-container {
        float: none;
        width: 90%;
        margin: 60px 60px 60px 60px;
    }

    .right-container {
        float: none;
        width: 90%;
        margin: 60px 60px 60px 60px;
    }

    .mpsc {
        padding-top: 100px !important;
    }
}

@media screen and (max-width: 1670px) {
    .tc-notes {
        width: 90% !important;
        display: block !important;
        float: none !important;
    }

    .tc-inverse {
        width: 90% !important;
        display: block !important;
        float: none !important;
        margin-left: 40px;
    }

    .tci-inner {
        margin: 0 !important;
    }

    .mp-notes {
        padding-top: 100px !important; 
    }
}

@media screen and (max-width: 1445px) {
    .titlecard {
        width: 80%;
    }
}

@media screen and (max-width: 1955px) {
    .input-half {
        width: 100% !important;
    }

    .ut-wrapper {
        max-height: 435px !important;
    }
}